<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1> Welcome to Rotating Tiles Game!</h1>

    <div class="container border" style="width: 600px !important;">
        <div class="row border-success" style="height:400px !important">
            {% for tile in range(96)  %}
            <div class="col-1 text-center border" data-tile-number="{{ tile }}">

            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>